src/flow_node-red.json
[{"id":"77400f40.0f8a7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fecfb9c1.c31388","type":"mqtt in","z":"77400f40.0f8a7","name":"mqtt in disp 1","topic":"v1/esp32/telemetria","qos":"2","datatype":"json","broker":"8b4f0549.2ac3f","nl":false,"rap":true,"rh":0,"x":150,"y":80,"wires":[["38d11093.0b4e","f2ab51af.5dcc5"]]},{"id":"c1f94f81.36264","type":"inject","z":"77400f40.0f8a7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"v1/esp32/telemetria","payload":"{\"temperatura\":30,\"umidade\":60,\"luminosidade\":50,\"umidadesolo\":1420,\"statusRele\":true}","payloadType":"json","x":150,"y":240,"wires":[["38d11093.0b4e"]]},{"id":"faaa6049.5d5b3","type":"mqtt out","z":"77400f40.0f8a7","name":"mqtt out","topic":"v1/esp32/telemetria/statusRele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b4f0549.2ac3f","x":220,"y":480,"wires":[]},{"id":"38d11093.0b4e","type":"function","z":"77400f40.0f8a7","name":"","func":"var telemetria = msg.payload;\nvar msg1 = {payload:telemetria.temperatura};\nvar msg2 = {payload:telemetria.umidade};\nvar msg3 = {payload:telemetria.luminosidade};\nvar msg4 = {payload:telemetria.umidadesolo};\nvar msg5 = {payload:telemetria.statusRele};\n\nreturn [msg1, msg2, msg3, msg4, msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["636c2496.d2f70c","3fdcfaf.193e106"],["e537fd3d.f2901","2e00ba68.4ddfd6"],["dab8fe0e.4aa88","3da4458.eb7a1ba"],["fadecaec.a017a8","f09d331d.e8441","641e5bf0.009014"],["fedbb79d.e213c8"]]},{"id":"636c2496.d2f70c","type":"ui_gauge","z":"77400f40.0f8a7","name":"","group":"edf8ba64.5bc798","order":1,"width":4,"height":3,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":"15","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","className":"","x":690,"y":60,"wires":[]},{"id":"e537fd3d.f2901","type":"ui_gauge","z":"77400f40.0f8a7","name":"","group":"edf8ba64.5bc798","order":2,"width":4,"height":3,"gtype":"gage","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#f70202","#ff6600","#096dd7"],"seg1":"","seg2":"","className":"","x":700,"y":120,"wires":[]},{"id":"dab8fe0e.4aa88","type":"ui_gauge","z":"77400f40.0f8a7","name":"","group":"deb5cb4d.421ad8","order":1,"width":4,"height":3,"gtype":"gage","title":"Luminosidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":220,"wires":[]},{"id":"fedbb79d.e213c8","type":"ui_switch","z":"77400f40.0f8a7","name":"","label":"StatusRele","tooltip":"","group":"ac2a6fd4.3b847","order":3,"width":8,"height":3,"passthru":false,"decouple":"false","topic":"v1/esp32/telemetria/statusRele","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":210,"y":380,"wires":[["faaa6049.5d5b3"]]},{"id":"3fdcfaf.193e106","type":"ui_chart","z":"77400f40.0f8a7","name":"","group":"edf8ba64.5bc798","order":3,"width":8,"height":3,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":40,"wires":[[]]},{"id":"2e00ba68.4ddfd6","type":"ui_chart","z":"77400f40.0f8a7","name":"","group":"edf8ba64.5bc798","order":4,"width":8,"height":3,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":940,"y":100,"wires":[[]]},{"id":"3da4458.eb7a1ba","type":"ui_chart","z":"77400f40.0f8a7","name":"","group":"deb5cb4d.421ad8","order":3,"width":8,"height":3,"label":"Luminosidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":960,"y":180,"wires":[[]]},{"id":"fadecaec.a017a8","type":"ui_chart","z":"77400f40.0f8a7","name":"","group":"deb5cb4d.421ad8","order":4,"width":8,"height":3,"label":"Umidade do Solo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":260,"wires":[[]]},{"id":"da4e0bc5.a444e8","type":"ui_form","z":"77400f40.0f8a7","name":"","label":"Calibrar sensor de Umidade do Solo","group":"ac2a6fd4.3b847","order":1,"width":8,"height":1,"options":[{"label":"Valor Solo Seco","value":"in_min","type":"number","required":false,"rows":null},{"label":"Valor Solo Úmido","value":"in_max","type":"number","required":false,"rows":null}],"formValue":{"in_min":"","in_max":""},"payload":"","submit":"Atualizar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":490,"y":500,"wires":[["610a6169.c4fb1"]]},{"id":"2e5c12e0.9fe00e","type":"ui_gauge","z":"77400f40.0f8a7","name":"","group":"ac2a6fd4.3b847","order":2,"width":0,"height":0,"gtype":"gage","title":"Umidade do Solo %","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":880,"y":420,"wires":[]},{"id":"f09d331d.e8441","type":"function","z":"77400f40.0f8a7","name":"calcula % umidade do solo","func":"valor = msg.payload;\nvar in_min=flow.get('in_min') || 3520;\nvar in_max=flow.get('in_max') || 1240;\n\n\nvalor = (valor - in_min) * (100 - 0) / (in_max - in_min) + 0;\n\nif (valor < 0) {\n  valor = 0;\n} else if (valor >100) {\n  valor = 100;\n}\n\nmsg.payload = valor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["2e5c12e0.9fe00e"]]},{"id":"610a6169.c4fb1","type":"function","z":"77400f40.0f8a7","name":"atualizaValoresCalibragemUmidadeSolo","func":"var valor = msg.payload;\n\nflow.set('in_min',valor.in_min);\nflow.set('in_max',valor.in_max);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[[]]},{"id":"f2ab51af.5dcc5","type":"debug","z":"77400f40.0f8a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"641e5bf0.009014","type":"ui_gauge","z":"77400f40.0f8a7","name":"","group":"deb5cb4d.421ad8","order":2,"width":4,"height":3,"gtype":"gage","title":"Umidade do solo","label":"","format":"{{value}}","min":"6000","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":320,"wires":[]},{"id":"8b4f0549.2ac3f","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"edf8ba64.5bc798","type":"ui_group","name":"Default","tab":"edcac200.59d93","order":1,"disp":false,"width":8,"collapse":false,"className":""},{"id":"deb5cb4d.421ad8","type":"ui_group","name":"2","tab":"edcac200.59d93","order":2,"disp":false,"width":8,"collapse":false,"className":""},{"id":"ac2a6fd4.3b847","type":"ui_group","name":"3","tab":"edcac200.59d93","order":3,"disp":false,"width":8,"collapse":false,"className":""},{"id":"edcac200.59d93","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
